/* styles/layout.css */
.container {
  
    margin: 0 auto;
    padding: 0 20px;
  }

  
  
  .header {
    text-align: center;
    padding: 20px 0;
    background-color: #0070f3; 
    color: #fff;
  }
  
  .footer {
    text-align: center;
    padding: 20px 0;
    background-color: #0070f3;
    color: #fff;
  }
  