/* app/page.module.css */

/* Container for the entire page */
.container {
  max-width: 1500px;
  width: '1490px';
  margin: 0 auto;
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

/* Hero Section */
.hero {
  text-align: center;
  padding: 50px;


}

.title {
  font-size: 3rem;
  color: #333;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 1.5rem;
  color: #666;
  margin-bottom: 30px;
}

.loginButton {
  padding: 15px 30px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #0070f3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.loginButton:hover {
  background-color: #005bb5;
}

/* Features Section */
.features {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.card {
  background-color:#666;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: 1;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.icon {
  font-size: 3rem;
  color: #0070f3;
  margin-bottom: 20px;
}

.cardTitle {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.cardDescription {
  font-size: 1rem;
  color: #666;
}
